.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidePanel {
  width: 250px;
  min-width: 250px;
  background-color: #252526;
  border-right: 1px solid #3e3e42;
  display: flex;
  flex-direction: column;
}

.mainPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
}
